/* ====== G L O B A L E S ====== */
html {
  height: 100vh;
  font-size: 62.5%;
}
body {
  height: 100%;
  background-color: #e8dbf8;
  font-size: $fuenteSize;
  font-family: $fuenteDefault;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.text-pri {
  color: $colorPrimario;
}
.text-sec {
  color: $colorSecundario;
}
.text-ter {
  color: $colorTerciario;
}
.bg-pri {
  background-color: $colorPrimario;
}
.bg-sec {
  background-color: $colorSecundario;
}
.bg-ter {
  background-color: $colorTerciario;
}

.active {
  font-weight: bold;
  background-color: orangered;
  border-radius: 0.5rem;
}
.mt-5rem {
  margin-top: 5rem;
}
.mb-5rem {
  margin-bottom: 5rem;
}

.btn-xl {
  padding: 0.7rem 4rem;
  font-size: 1.5rem;
}
