/* ====== N O S O T R O S ======= */

@media (width >= 768px) {
  .br-md-left {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .br-md-right {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
