/* ====== N O S O T R O S ======= */

.nosotros__galeria {
  img {
    transition-property: transform;
    transition-duration: 300ms;
    &:hover {
      // transform: rotate(-4deg) scale(1.2);
      transform: scale(1.1);
    }
  }
}

@media (width >= 768px) {
  .br-md-left {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .br-md-right {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
